<!DOCTYPE html>
<html>
<head>
	<title>Users Page</title>
</head>
<body>
	<h2>Users List</h2>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Full Name</th>
				<th>Email</th>
				<th>Created At</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.full_name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.time_stamp.strftime("%a, %d %b %Y %H:%M") }}</td>
					<td>
						<a href="/users/{{ user.id }}"><button>Show</button></a>
						<a href="/users/{{ user.id }}/edit"><button>Edit</button></a>
						<a href="/users/{{ user.id }}/delete"><button>Delete</button></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br><br>
	<a href="/users/new">Add a new user</a>
</body>
</html>